@import 'abstracts';

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  @include flex(column, center, center);

  nav {
    @include flex(row, center, center);
    margin-top: $sp-md;
  }
}

.image {
  max-height: 70%;
  max-width: 80%;

  img {
    width: auto;
    height: 100%;
  }

  &.hidden {
    display: none;
  }
}

.inactive {
  opacity: 0.5;
}

.stepper {
  i {
    font-size: 24px;
    color: $green;
  }
}
