@import 'abstracts';

.hero {
  @include site-padding;
  @include flex(column, flex-start);
  height: 100vh;

  h1 {
    @include ff-gotham-hero;
    color: $white;
    z-index: 1;

    @include mq($bp-monitor) {
      width: 60%;
    }
  }

  @include mq($bp-tablet) {
    @include flex(column, center);
    @include size(100vw, 100vh);
  }
}

.backgrounds {
  @include size(100%);

  position: absolute;
  top: 0;
  left: 0;

  &::after {
    @include size(100%);
    content: '';

    background-color: $graphite;
    position: absolute;
    opacity: 80%;
  }

  img {
    @include size(100%);
    position: absolute;
    object-fit: cover;
    transition: opacity 0.4s ease-in-out;

    &.hidden {
      opacity: 0;
    }
  }
}

.logo {
  width: 100px;
  margin-bottom: $sp-sm;
  z-index: 1;

  @include mq($bp-tablet) {
    position: absolute;
    top: $sp-sm;
    right: $sp-sm;

    width: 200px;
  }
}
