@import 'abstracts';
@import 'reset';
@import 'fonts';

html,
body {
  @include margin(0);
  @include padding(0);
}

body {
  @include ff-gotham-body;
  background-color: $graphite;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
