@import 'abstracts';

.container {
  width: 100%;

  nav {
    @include flex(row, space-between);
    height: $sp-tour-nav;
  }

  * {
    color: $white;
  }
}

.checkpoints {
  @include flex(row);
  background-color: $graphite;
  flex-grow: 1;
  position: relative;

  &::before {
    @include pseudo-reset;
    border-bottom: 1px solid $gray;
    position: absolute;
    top: 50%;
    width: 100%;
  }
}

.link {
  font-weight: bold;

  li {
    @include padding($sp-xs-sm $sp-sm);
    @include flex(column, center);
    @include uppercase;
    height: 100%;
  }

  @include on-focus {
    li {
      background-color: $river-bed;

      .nested {
        @include visible;
      }
    }
  }

  z-index: 1;
}

.label {
  position: relative;

  &::before {
    @include pseudo-reset;
    position: absolute;
    left: 50%;

    width: calc(100% + 40px);
    height: 100%;

    background-color: $graphite;
    transform: translateX(-50%);

    z-index: -1;
  }

  .chevron {
    margin-left: $sp-xxs;
  }

  &.currentPath {
    color: $yellow;

    .chevron {
      color: $yellow;
    }
  }
}

.cta {
  @include padding($sp-xs-sm $sp-sm);
  @include on-focus {
    background-color: $river-bed;

    .nested {
      @include visible;
    }
  }
  @include uppercase;

  background-color: $graphite;
  border-left: 1px solid $gray;
  font-weight: bold;
  color: $yellow;
}

%nested-link-focus {
  color: $yellow;

  &::after {
    @include pseudo-reset;
    position: absolute;

    background-color: $yellow;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
  }
}

.nested {
  @include hidden;
  @include flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  height: $sp-tour-nav;

  background-color: $river-bed;

  .link {
    position: relative;

    @include on-focus {
      li {
        @extend %nested-link-focus;
      }
    }
  }

  li {
    background-color: $graphite;
    width: fit-content;

    &.currentPath {
      @extend %nested-link-focus;
    }
  }
}
