@import 'abstracts';

.wrapper {
  @include flex;
  height: 100vh;
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: $sp-tour-nav auto;
  grid-template-areas:
    'nav nav nav nav'
    'sidebar content content content';
}

.navigation {
  grid-area: nav;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}
