@import 'abstracts';

.container {
  @include site-padding;
  @include flex;
  flex-wrap: wrap;
}

.step {
  margin-bottom: $sp-sm;

  h2 {
    @include flex;
    color: $white;
    margin-bottom: $sp-xxs;
  }

  h2::after {
    content: '';
    flex-grow: 1;
    border-bottom: 1px solid $gray;
    transform: translateY(-50%);
    margin-left: $sp-xxs;
  }

  @include mq($bp-tablet) {
    height: 250px;

    &:not(:last-child) {
      margin-right: $sp-xs;
    }

    img {
      height: 100%;
    }
  }

  @include mq($bp-monitor) {
    height: 300px;
  }

  @include mq($bp-tablet, 'max') {
    width: 100%;

    img {
      width: 100%;
    }
  }
}
