@import 'abstracts';

.container {
  @include size(100%);
  display: grid;

  background-color: $river-bed;
}

.withReviews {
  grid-template-columns: 1fr 2fr;
}

.signCtas {
  @include flex(column, space-between);

  border-left: 1px solid $white;
  overflow-y: auto;
}
