@import 'abstracts';

$table-gap: $sp-xxs;
$table-child-width: calc(100% / 3 - 2 * #{$table-gap});

.table {
  @include flex;
  @include size(100%);
  @include padding($sp-sm x);

  background-color: $river-bed;
  flex-wrap: wrap;
  overflow: scroll;

  li {
    @include margin(x $table-gap);
    margin-bottom: $table-gap;

    width: $table-child-width;
    height: fit-content;
    transition: all 0.1s ease-in-out;

    @include on-focus {
      opacity: 0.7;
    }
  }
}
