@import 'abstracts';

.content {
  @include site-padding;
  @include flex(column, space-between);
  background-color: $river-bed;
  height: 100%;
}

.title {
  @include ff-gotham-title;
  position: relative;
  margin-bottom: $sp-sm;

  //&::before {
  //@include pseudo-reset;
  //border-bottom: 1px solid $yellow;
  //position: absolute;
  //right: calc(100% + #{$sp-xxs});
  //bottom: 55%;
  //width: $sp-sm;
  //}
}

.aside {
  @include ff-gotham-sub-title;
}
