@import 'abstracts';

$h-padding: $sp-xxs-xs;

.content {
  @include flex(column, space-between);
  background-color: $river-bed;
  height: 100%;

  > div:first-child {
    @include site-padding;
    overflow-y: auto;
  }
}

.heading {
  @include ff-gotham-title;
  @include uppercase;
  position: relative;
  margin-bottom: $sp-sm;
  margin-left: $h-padding;
  width: fit-content;

  &::before {
    @include pseudo-reset;
    border-bottom: 1px solid $yellow;
    position: absolute;
    right: calc(100% + #{$h-padding});
    bottom: 55%;
    width: $sp-md;
  }

  &::after {
    @include pseudo-reset;
    @include padding($sp-xxs $h-padding);
    border: 1px solid $yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transform: translate(-50%, -50%);
  }
}

.title {
  @include ff-gotham-title;
  margin-bottom: $sp-sm;
}

.carousel {
  @include padding(0);
  max-height: 300px;

  @include mq($bp-monitor) {
    max-height: 500px;
  }
}

.children {
  margin-top: $sp-xs;
}
