@import 'abstracts';

.container {
  @include flex;
  @include padding($sp-sm + $sp-xs);

  @include mq($bp-monitor) {
    @include padding($sp-sm + $sp-xs);
  }
}

.primary {
  @include pill(true);
  @include flex(column, center);
  @include uppercase;
  margin-right: $sp-sm;

  color: $green;
  border-color: $green;

  @include mq($bp-monitor) {
    @include padding(x $sp-sm);
    @include ff-gotham-sub-title;
  }
}

.ctas {
  @include flex(column, center);

  li {
    @include uppercase;
    font-weight: bold;

    &:not(:last-child) {
      margin-bottom: $sp-xxs;
    }

    a {
      @include on-focus {
        color: $green;
      }
    }

    @include mq($bp-monitor) {
      @include ff-gotham-sub-title;
    }
  }
}
