@import 'abstracts';

.sidebar {
  @include site-padding;
  @include flex(column, space-between);

  background-color: $river-bed;
  height: 100%;
  overflow-y: auto;

  h1 {
    @include ff-gotham-title;
    margin-bottom: $sp-sm;
  }
}

.children {
  @include margin($sp-sm x);
}

.cta {
  @include pill;
  margin-top: $sp-sm;
  align-self: center;
}
