@import 'abstracts';

.container {
  @include site-padding;
  color: $white;
}

.content {
  @include flex(row, space-between);
  margin-bottom: $sp-md;

  .about {
    @include ff-gotham-body;
    width: 30%;
  }

  @include mq($bp-tablet, 'max') {
    @include flex(column, flex-start);
    margin-bottom: $sp-sm;

    .about {
      margin-bottom: $sp-xs;
      width: 100%;
    }
  }
}

.information {
  @include flex(row, space-between);

  .contact {
    @include ff-gotham-sub-body;
  }

  @include mq($bp-tablet, 'max') {
    @include flex(column-reverse, flex-start);

    .social {
      margin-bottom: $sp-sm;
    }
  }
}

.contact {
  @include flex;

  @include mq($bp-tablet, 'max') {
    @include flex(column);
  }
}

.social {
  @include flex(row);

  p {
    font-weight: bold;
  }

  ul {
    @include flex(row);
  }

  li {
    margin-left: $sp-sm;

    @include on-focus {
      color: $gray;
    }
  }

  @include mq($bp-tablet, 'max') {
    @include flex(column, flex-start);

    ul {
      @include flex(column, flex-start);
    }

    li {
      margin-left: 0;
    }
  }
}

.cta {
  @include pill;

  border: 1px solid $green;
  background-color: transparent;
  color: $green;
  height: fit-content;

  @include on-focus {
    color: $graphite;
    background-color: $green;
  }
}

.logo {
  margin-right: $sp-xs;
  width: 150px;

  @include mq($bp-tablet, 'max') {
    margin-bottom: $sp-sm;
  }
}
