@mixin pill($secondary: false) {
  @include ff-gotham-cta;
  @include padding($sp-xs $sp-xs);
  display: block;

  background-color: $green;
  border-radius: 50px;
  color: $black;
  width: fit-content;
  text-align: center;

  @if $secondary {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;

    @include on-focus {
      background-color: $green;
      color: $black;
    }
  }
}
