@mixin uppercase {
  text-transform: uppercase;
}

%ff-set {
  font-family: 'Gotham', Helvetica, sans-serif;
}

@mixin ff-gotham-sub-body {
  @extend %ff-set;
  font-size: 12px;
  line-height: 18px;
}

@mixin ff-gotham-body {
  @extend %ff-set;
  font-size: 16px;
  line-height: 22px;
}

@mixin ff-gotham-cta {
  @extend %ff-set;
  @include ff-gotham-body;
  @include uppercase;
  font-weight: bold;

  @include mq($bp-tablet, 'max') {
    @include ff-gotham-sub-body;
  }
}

@mixin ff-gotham-sub-title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: bold;
}

@mixin ff-gotham-title {
  font-size: 24px;
  line-height: 1.2;

  @include mq($bp-monitor) {
    font-size: 32px;
  }
}

@mixin ff-gotham-hero {
  @include uppercase;
  font-size: 36px;
  line-height: 1.2;

  @include mq($bp-tablet) {
    font-size: 72px;
  }

  @include mq($bp-monitor) {
    font-size: 98px;
  }
}
