%ff-set {
  font-family: 'Gotham', Helvetica, sans-serif;
}

@mixin ff-gotham-sub-body {
  @extend %ff-set;
  font-size: 12px;
  line-height: 18px;
}

@mixin ff-gotham-body {
  @extend %ff-set;
  font-size: 18px;
  line-height: 24px;
}

@mixin ff-gotham-cta {
  @extend %ff-set;
  @include ff-gotham-body;
  font-weight: bold;
  text-transform: uppercase;

  @include mq($bp-tablet, 'max') {
    @include ff-gotham-sub-body;
  }
}

@mixin ff-gotham-title {
  font-size: 36px;
  line-height: 1.2;
}

@mixin ff-gotham-hero {
  font-size: 36px;
  line-height: 1.2;
  text-transform: uppercase;

  @include mq($bp-tablet) {
    font-size: 72px;
  }

  @include mq($bp-monitor) {
    font-size: 98px;
  }
}
