@import 'abstracts';

.container {
  @include flex(column);
  position: relative;

  figcaption {
    @include padding($sp-xs);
    background-color: $blue;
    width: 100%;
    font-weight: bold;
  }
}

.image {
  display: block;
  width: 100%;
}
