@import 'abstracts';

.cta {
  @include size(150px);
  @include flex(column, center, center);
  @include ff-gotham-cta;

  background-color: $green;
  border-radius: 100%;
  color: $graphite;
  margin: auto;

  position: absolute;
  bottom: $sp-sm;
  z-index: 0;

  &::before {
    @include size(100%);
    content: '';
    background-color: $green;
    border-radius: 100%;
    transition: all 300ms $cube;
    position: absolute;
    z-index: -1;
  }

  @include on-focus {
    &::before {
      transform: scale(1.1);
    }
  }

  @include mq($bp-tablet, 'max') {
    left: 50%;
    transform: translateX(-50%);
  }

  @include mq($bp-tablet) {
    @include size(200px);
    position: absolute;
    right: $sp-sm;
  }
}
