@import 'abstracts';

.studioContent {
  top: 0;
  position: absolute;
}

.prompts {
  margin-top: $sp-sm;

  li button {
    @include pill(true);
    width: 100%;
    margin-top: $sp-xxs;

    &.active {
      background-color: $green;
      color: $black;
    }
  }
}

.nextStudio {
  position: absolute;
  bottom: 0;
  right: 0;
}
